In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('complex_raw4.csv')
df

      Unnamed: 0  real  imaginary  power quadrant  sequence
0              0   -10        -10      2        C  CABAAAAA
1              8   -10        -10      3        C  CAADDDDD
2             16   -10        -10      4        C  CDCDCDCD
3             24   -10        -10      5        C  CBADCBAD
4             32   -10         -9      2        C  CABDDCBD
...          ...   ...        ...    ...      ...       ...
1759       14072    10          9      5        A  ADCCBDCC
1760       14080    10         10      2        A  AABAAAAA
1761       14088    10         10      3        A  AAADDDDD
1762       14096    10         10      4        A  ABABABAB
1763       14104    10         10      5        A  ADCBADCB

[1764 rows x 6 columns]

In [27]:
df[df['sequence'].astype(str).str[0:4]=='BCDA']

Empty DataFrame
Columns: [Unnamed: 0, real, imaginary, power, quadrant, sequence]
Index: []

In [26]:
df['sequence'].astype(str).str[0:4]

0       CABA
1       CAAD
2       CDCD
3       CBAD
4       CABD
        ...
1759    ADCC
1760    AABA
1761    AAAD
1762    ABAB
1763    ADCB
Name: sequence, Length: 1764, dtype: object